body{
    background-color: rgb(233, 219, 243);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2cm;
}
h1{
    color:rgb(213, 194, 231);
    text-align: center;
    background-color: blueviolet;
    font-family:'Times New Roman', Times, serif
}
ul{
    a:hover {  background-color: rgb(218, 172, 224); }
    padding-left: 14cm;
}
main{
    padding: 2cm;
}
h2{
    color: blueviolet;
    text-decoration: underline;
    background-color: rgb(205, 188, 219);
    padding: 1cm;
    text-align: center;
}
table{
    margin-bottom: 2cm;
}
th, td{
    padding: 10px;
}
footer{
    color: blue;
}